
.experience h1 {
    text-align: center;
    font-size: 4rem;
}

.experience-section {
    width: 90%;
    margin: auto;
    max-width: 90%;
    padding: 2rem;
    background: #fff;
    border-radius: 18px;
    box-shadow: 0 6px 32px rgba(0, 0, 0, 0.08), 0 1.5px 4px rgba(0, 0, 0, 0.06);
}